body{
		background: #1C1C1C !important;
	}
.header-1{
			color: #fff !important;
		 }
h2{
	color: #fff !important;
  }
.menu-item-short-desc{
						color: rgba(255, 255, 255, 255.3) !important;
					 }	  
.change-txt-size a{
					color: #fff !important;
				  }


